@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
ul.icons li {
  list-style: none;
}

body {
  margin: 50px;
}

.icons {
  margin-left: 30px;
}
