html {
  font-family: Helvetica, sans-serif;
}
body {
  max-width: 1200px;
  margin: 50px auto;
  background-color: #eeeeee;
}
img {
  max-width: 80%;
}

main,
aside {
  display: inline-block;
  vertical-align: top;
}

main {
  width: 65%;
}
aside {
  width: 30%;
}

ul {
  list-style-type: square;
}
