html {
  font-family: "Helvetica", sans-serif;
}
body {
  max-width: 1200px;
  margin: 50px auto;
}
header {
  display: flex;
  justify-content: space-between;
}

.navigation-header {
  border-bottom: 2px solid rgb(0, 0, 0);

}

.navigation-header-nav ul {
  display: flex;
  list-style: none;
}

.navigation-header-nav li {
  margin: 0 15px;
}

.navigation-header-nav a {
  color: rgb(0, 153, 0);
  text-decoration: none;
}
