<section id="viewLogin">
  <h2>Login:</h2>
  <form action="/auth/login" method="POST" id="formLogin">
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="usernameField"
      placeholder="Enter your Username"
    />
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="passwordField"
      placeholder="Enter your Password"
    />
    <input type="submit" class="login" value="Login" />
  </form>
</section>