html {
  font-family: "Helvetica", sans-serif;
}
body {
  max-width: 1200px;
  margin: 50px auto;
}
.navigation-inline-block-header {
  border-bottom: 2px solid;
}
.navigation-inline-block-header-nav li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
.navigation-inline-block-header-nav a {
  color: #19a41f;
  text-decoration: none;
}

.navigation-inline-block-header nav,
.navigation-inline-block-header h1 {
  display: inline-block;
  vertical-align: middle;
}
